* {
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    border: 5px solid rgb(228, 206, 206);

}

h1.title {
    color: green;
    text-align: center;
}

.text-red {
    color: #FF0000;
}

.for {
    color: #0000cc;
    background-color: #cccccc;
    padding-left: 100px;
}