* {
    margin: 0;
    padding: 0;
}

.header, .footer {
    background-color: blue;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;
}

.main {
    display: block;
}

.main .menu {
    width: 100%;
    background-color: rgb(29, 162, 97);
}

.main .menu ul {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}


.main .menu > ul  li {
    list-style: none;
    background-color: rgb(29, 162, 97);
    padding: 10px 25px;
    /* margin-bottom: 1px; */
    /* border-bottom: 1px solid white; */
    position: relative;
}

.main .menu ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.main .menu ul li:hover {
    background-color: red;
    transition: 0.4S;
}

.main .menu ul li:hover a {
    color: yellow;
}

.main .menu ul li .sub-menu {
    position: absolute;
    width: 200%;
    left: 0;
    top: 100%;
    display: none;
}

.main .menu ul li:hover .sub-menu {
    display: block;
}

.main .register {
    width: 80%;
    margin: 1% 0 1% 10%;
    border-radius: 8px;
    background: blue;
    color: white;
}

.main .register .form {
    width: 70%;
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}


.main .register .form table {
    width: 100%;
    padding: 8px;
}

.main .register .form table th.left {
    width: 30%;
    text-align: right;
    padding: 10px;
}

.main .register .form table th.right {
    width: 70%;
}

.main .register .form table th.right input {
    width: 100%;
    padding: 1px 2px;
}

.main .register .form table .result {
    width: 100%;
    height: 19px;
}
.main .register .form table .result {
    background-color: white;
    color: black;
    margin: 10px 0;
    padding: 1px 0;
    text-align: start;
}

.main .register .form .btn {
    padding: 5px 10px;
    cursor: pointer;
}